# Ignore dependency directory
node_modules

# Ignore .env configuration files
.env

# Ignore .DS_Store files on OS X
.DS_Store

# Ignore Thumbs.db files on Windows
Thumbs.db

# Ignore build generated stuff
dist
