# Ignore dependency directory
node_modules

# Ignore .env configuration files
.env

# Ignore .DS_Store files on OS X
.DS_Store

# Ignore Thumbs.db files on Windows
Thumbs.db

# Ignore generated CSS and JS
#public/css/*.css
#public/js/*.js
