@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 20px 40px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

header, section {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

h1 {
	float: left;
	margin: 0;
	font-size: 3rem;
}

.toggle {
	display: inline-block;
	padding: 0;
	border: none;
	background-color: transparent;
	font-size: 4rem;
	line-height: 1;
	cursor: pointer;
	appearance: none;

	&:focus {
		outline: none; // TODO: not this
	}

	&::before {
		content: '\f056'; // dash
		display: block;
		color: #999;
		font-family: 'FontAwesome';
	}

	&.start::before {
		content: '\f144'; // play
		color: #090;
	}

	&.stop::before {
		content: '\f28d'; // stop
		color: #900;
	}
}

section:not(:first-child) {
	margin-top: 20px;
}

figure {
	float: left;
	margin: 0 10px 10px 0;
}

.video, .motion {
	width: 320px;
	height: 240px;
	background-color: #000;
}

.motion {
	image-rendering: pixelated;
}

.history {
	&::after {
		content: '';
		display: block;
		clear: both;
	}

	figure {
		float: left;
		padding: 10px;
		border-radius: 5px;
		background-color: #eee;

		&:first-child {
			animation: entrance 1s ease-out;
		}
	}

	img {
		width: 240px;
		height: 180px;
	}

	figcaption {
		padding-top: 5px;
	}

	.score {
		float: right;
	}
}

@keyframes entrance {
	0% {
		opacity: 0;
		transform: translateY(-25%);
	}
}
