@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	margin: 0;
	padding: 20px 40px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

header, section {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

h1 {
	float: left;
	margin: 0;
	font-size: 3rem;
}

.toggle {
	float: right;
	padding: 10px 20px;
	border: 4px solid #ccc;
	color: #fff;
	background-color: #666;
	font-size: 1.25rem;
	cursor: pointer;
	appearance: none;
}

section {
	margin-top: 20px;
}

figure {
	float: left;
	margin: 0 10px 10px 0;
}

.video, .motion {
	width: 320px;
	height: 240px;
	background-color: #000;
}

.motion {
	image-rendering: pixelated;
}

.history {
	&::after {
		content: '';
		display: block;
		clear: both;
	}

	figure {
		float: left;

		&:first-child {
			animation: entrance 1s ease-out;
		}
	}

	img {
		width: 240px;
		height: 180px;
	}
}

@keyframes entrance {
	0% {
		opacity: 0;
		transform: translateY(-25%);
	}
}
