.video, .motion {
	width: 320px;
	height: 240px;
	background-color: #000;
}

.motion {
	image-rendering: pixelated;
}

.history {
	&::after {
		content: '';
		display: block;
		clear: both;
	}

	figure {
		float: left;
	}

	img {
		width: 240px;
		height: 180px;
	}
}